:root {
  --main-bg-color: #2d2d2d;
  --content-bg-color: #e7e8eb;
}

html,
body {
  background-color: var(--main-bg-color);
  color: black;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 120%;
  margin: 0;
  padding: 0;
}

#content {
  background-color: var(--content-bg-color);
  width: 100%;
  margin: 0 auto 4em auto;
  max-width: 600px;
  padding: 4em 6em;
}

.poem {
  max-width: fit-content;
  margin: 0 auto;
}

.img_w_text {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 5%;
}

.stanzas {
  width: 57%;
}

img {
  width: 38%;
}
